input[type="text"], input[type="email"], input.ticketField, select:not(#descIndicator):not(#pmember):not(#assgnee) {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    outline: none;
}