@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

div#ContentWrapper > script + div > div:first-of-type {
  margin-top: 0 !important;
  padding-top: 10px;
  display: none;
}

html > body.DocumentWidth > div#ContentWrapper {
  background-color: #202124;
  font-family: 'Open Sans', sans-serif;
}

div#wrapper > div#mainContentTable {
  background-image: none;
}

form[name="userform"] > div:last-child,
form[name="userform"] > div:nth-last-child(2) {
  color: #bbb;
  display: none;
}

div#centralLoginContent + div,
div#mainContentTable > div:first-of-type {
  visibility: hidden;
}

div#centralLoginContent {
  background-image: none;
  display: flex;
  position: static;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div#centralLoginContent > div:nth-child(3),
div#centralLoginContent > div:nth-child(4) {
  display: none;
}

/* div#logoTopLogin > img {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
} */

div#loginTable,
div#loginTable a#userid { 
  color: #ddd;
}

div#col2 > div:first-of-type {
  visibility: hidden;
}

div#col2 > div:nth-of-type(4) {
  display: flex;
  align-items: center;
}

div#loginTable {
  position: static;
  display: flex;
  justify-content: center;
}

#col0 {
  display: none;
}

#loginTable .loginBtn#button {
  cursor: pointer;
  font-family: 'Roboto Condensed', sans-serif;
  border-radius: 4px;
  min-width: 64px;
  height: 36px;
  line-height: 36px;
  padding: 0 16px;
  font-size: 14px;
  border: none;
  background-color: #4E2A84;
  box-shadow: none;
  background-image: none;
  text-transform: uppercase;
  color: #ddd;
  font-weight: 500;
  letter-spacing: 2px;
  transition: background-color 0.2s ease, box-shadow 0.2s ease, border-color 0.2s ease;
  box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.64);
  border: 1px solid #613ea3;
}

#loginTable .loginBtn#button:hover {
  background-color: #836EAA;
  border-color: #836EAA;
  box-shadow: 1px 1px 10px -1px rgba(0, 0, 0, 0.64);
}

input[type="text"] {  
  font-family: 'Open Sans', sans-serif;
}

#centralLoginContent #loginTable {
  font-family: 'Open Sans', sans-serif;
}

#centralLoginContent #loginTable .textField {
  font-family: 'Open Sans', sans-serif;
  border: 1px solid #ccc;
}

#centralLoginContent #loginTable #col1.col {
  min-width: 83px;
  margin-right: 15px;
}

#centralLoginContent #loginTable #col1.col > div {
  text-align: right;
}

#centralLoginContent #loginTable .col > div:first-of-type {
  display: none;
}